<h1 class="text-center">5 Marcas mexicanas de maquillaje </h1>
<div class="card-deck">
    <div class="card">
      <img src="https://www.biutest.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNTFjQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--722e5fb120f062f595a7bd8ed94848088b08f5c2/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld2M2QzNKbGMybDZaVWtpRGpFd09EQjRNVEE0TUFZNkJrVlVPaEJoZFhSdlgyOXlhV1Z1ZEZRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--42e0115a75c26f0b6ece3e3def39043901b5543f/unnamed%20(4).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">1. AHAL</h5>
        <p class="card-text">Nace cuando su fundadora, la Ingeniera Química Liliana Loza, al estudiar la formulación cosmética se percató del uso de químicos innecesarios en los productos comerciales. Este hecho la llevó a explorar en ingredientes alternativos de origen natural enfocados en herbolaria y soporte científico. Fue así como surgió Ahal, significando “despertar en maya”, una línea mexicana de alta cosmética 100% orgánica y libre de maltrato animal. Se rigen bajo el mantra: “La piel saludable siempre tiende al equilibrio” y sus productos tienen el mínimo impacto ambiental y prestan atención al comercio justo. Su compromiso es con la belleza natural de la piel.</p>
        <p class="card-text"><small class="text-muted">Los Color Stick de AHAL están formulados con Aceite de Marula y Tapioca que iluminan y reducen irritaciones</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://www.biutest.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXhjQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--801cad7fd033d54cf4660daaab85ada82c2519a7/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld2M2QzNKbGMybDZaVWtpRGpFd09EQjRNVEE0TUFZNkJrVlVPaEJoZFhSdlgyOXlhV1Z1ZEZRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--42e0115a75c26f0b6ece3e3def39043901b5543f/unnamed%20(3).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">2.CEIBA</h5>
        <p class="card-text">Apasionados por la salud, la cosmética y el medio ambiente, esta marca se preocupa por desarrollar productos que sean efectivos, libres de crueldad animal y formulados con ingredientes seguros. Prestan especial atención en la transparencia en las etiquetas y la mayor parte de sus ingredientes son orgánicos o con certificación ECOCERT. Sus empaques son mínimos, biodegradables, reciclables o reutilizables y además buscan dejar una huella positiva al donar un porcentaje de sus ventas a la conservación de bosques y selvas en México.</p>
        <p class="card-text"><small class="text-muted">Los tonos de Lip & Cheek de CEIBA son ideales para crear un look natural y se pueden combinar para crear un tono nuevo y único.</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://www.biutest.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXRjQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--ecc59cf87e88003a4789fa4444de5932b9d89123/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld2M2QzNKbGMybDZaVWtpRGpFd09EQjRNVEE0TUFZNkJrVlVPaEJoZFhSdlgyOXlhV1Z1ZEZRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--42e0115a75c26f0b6ece3e3def39043901b5543f/unnamed%20(2).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">3. Pai Pai</h5>
        <p class="card-text">Pai Pai es una marca mexicana de cosméticos que fusiona el arte y la belleza en productos naturales y artísticos, cool y coloridos. Su nombre proviene del grupo indígena paipai, que significa gente viva, ubicado en Santa Catarina en Ensenada, Baja California. Sus empaques son tanto artísticos como divertidos, y lo mejor de todo es que son reciclables y buscan reducir la generación de desperdicios</p>
        <p class="card-text"><small class="text-muted">La variedad de productos de Pai Pai incluye lipsticks, esmaltes, sombras y más</small></p>
      </div>
    </div>
    <div class="card">
        <img src="https://www.biutest.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXBjQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1449c0cc7ea0a757d92f014657867793c20e4f69/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld2M2QzNKbGMybDZaVWtpRGpFd09EQjRNVEE0TUFZNkJrVlVPaEJoZFhSdlgyOXlhV1Z1ZEZRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--42e0115a75c26f0b6ece3e3def39043901b5543f/unnamed%20(1).jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">4. XIXÄNTHÉ</h5>
          <p class="card-text">Es una marca comprometida con el bienestar de las personas y el cuidado del planeta. Se dedican a elaborar cosmética natural y artesanal utilizando ingredientes naturales y orgánicos de la mejor calidad. Utilizan extractos naturales en productos de uso diario, libres de químicos y han diseñado y perfeccionado sus fórmulas para ofrecer alternativas ecológicas y naturales. Su concepto de sustentabilidad va más allá con los múltiples usos que tienen la mayoría de sus productos, pues se pueden reemplazar varios con un sólo producto y de esta manera generamos menos basura.</p>
          <p class="card-text"><small class="text-muted">Los Tinte Multiusos de XIXÄNTHÉ se pueden utilizar en ojos, mejillas y labios y son súper vesátiles.</small></p>
        </div>
      </div>

      <div class="card">
        <img src="https://www.biutest.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNWxjQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--879be210938dbfa01a321de30cc6503838c83932/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld2M2QzNKbGMybDZaVWtpRGpFd09EQjRNVEE0TUFZNkJrVlVPaEJoZFhSdlgyOXlhV1Z1ZEZRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--42e0115a75c26f0b6ece3e3def39043901b5543f/unnamed.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">5. MACRÉ</h5>
          <p class="card-text">Es una firma de cosméticos los cuales brindan una alternativa saludable y confiable para quienes se preocupan por el impacto ambiental de lo que consumen. Sus productos son 100% ecológicos, ya que monitorean y son responsables de todos los desechos que resulten de sus acciones; los insumos que utilizan son inspeccionados meticulosamente por un control de calidad y se aseguran que cada producto terminado ofrezca la mejor calidad y fórmulas limpias de acuerdo a lo que llaman Química Verde, que combina la ciencia y la tecnología con el conocimiento ancestral de la herbolaria mexicana y los beneficios de los ingredientes orgánicos..</p>
          <p class="card-text"><small class="text-muted">El Maquillaje Líquido de MACRÉ tiene una gran variedad de tonos y además cuida y nutre la piel.</small></p>
        </div>
      </div>
  </div>
  <div class="boto">
    <button class="btn btn-prmary" (click)="generador()">Generar QR</button>
    <qrcode [qrdata]="qr" [width]="260" [errorCorrectionLevel]="'M'"></qrcode>
    <h2>Es el url de: {{qr}}</h2>
  </div> 
  <button class="btn btn-prmary" routerLink="/grafica">Generar grafica</button>
  
          


   
